<!-- success message -->
<% if flash[:notice] %>
      <div class="flash">
        <p class="text"><%= flash[:notice] %></p>
      </div>
    <% end %>

<p>
	<strong>Title:</strong>
	<%= @book.title %>
</p>

<p>
	<strong>body:</strong>
	<%= @book.body %>
</p>

<%= link_to "edit", edit_book_path(@book) %>

|

<%= link_to "back", books_path %>
